*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: rgb(66, 60, 56);
    color: white;
}
#lessthan500px{
    display: none;
}
.first-div{
    margin-left: 1%;
    margin-top: 1%;
}
.first-img{
    float: left;
    margin-right: 20px;
    border-radius: 0 40px 40px 20px ;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
    padding: 10px;
}
.navigation{
    display: flex;
    justify-content: space-around;
}
#hover:hover{
    color: rgb(122, 149, 231);
    transition: ease 1s;
}
#nav-1{
    border: 3px solid chocolate;
    border-radius:40px ;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#First-sentence{
    margin-top: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 400%;
   /* color: rgb(162, 223, 223);*/
   background: linear-gradient(grey, rgb(5, 245, 125), grey);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
#First-para{
    margin-top: 2.5%;
    font-weight: 450;
    font-size: 200%;
    line-height: 40px;
}
#First-button{
    background: aqua;
    border: none;
    border-radius: 17px;
    padding: 14px;
    float: none;
    margin-left: 25%;
    margin-top: 6%;
    text-transform: uppercase;
    font-size: larger;
}
#First-button:hover{
    background-image: linear-gradient(red, yellow);
    transition:  50s;
}
.mobile-one{
    display: none;
}
#section-1{
    margin-top: 30px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 50%;
}
#section-1a{
    width: 50%;
}
h3{
    color: rgb(142, 240, 23);
    font-weight: 900;
    font-size: 300%;
}
#ebony{
    color: rgb(142, 240, 23);
    font-weight: 900;
    font-size: 300%;
}
#para-under-section-1a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
}
#section-1a-button{
    background-color: darkorange;
    border: none;
    border-radius: 17px;
    padding: 14px;
    margin-left: 25%;
    margin-top: 16%;
    margin-bottom: 4%;
    text-transform: uppercase;
    font-size: larger;

}
#time{
    background-color: rgb(88, 86, 86);
    padding: 30px;
    border-right:50px solid green ;
    border-left: 50px solid green;
    text-align: center;
}
#time , h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: goldenrod;
}
#time , h3{
    font-size: inherit;
}
#final{
    background-color: rgb(104, 98, 98);
    display: flex;
    color: blue;
    justify-content: space-between;
}
footer{
    background-color: black;
    float: none;
    text-align: center;
    padding: 10px;
}
@media  screen and (max-width:834px ) {
    .mobile-one{
        display: initial;
        width: 100%;
    }
.first-img{
    display: none;
}
.first-div{
    margin: 0;
}
.navigation{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
a{
    font-size: small;
}
#First-sentence{
    margin-top: 20px;
    font-weight: 500;
    font-size: 250%;
}
#First-para{
    margin-top: 2.5%;
    font-weight: 250;
    font-size: 150%;
    padding: 20PX;
}
h3{
    color: rgb(142, 240, 23);
    font-weight: 600;
    font-size: 200%;
}
#para-under-section-1a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    color: black;
}
#section-1a-button{
    margin-right: 10px;
    font-size: small;
}
footer{
    background-color: black;
}
}
@media  screen and (max-width:500px ){
    #lessthan500px{
        display: initial;
    }
    .less-than-500px-none{
        display: none;
    }
    #section-1{
        display: block;
    }
    #section-1a{
        width: 100%;
    }
    .img1{
        width: 100%;
    }
}
@media  screen and (max-width:329px ){
    #final{
        display: block;
    }
}
